<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Final exam flask content </h1>
    <p> Flask is a nice framework to use </p>
    <h2>HTML Links</h2>
    <h2>The idea and code for this final came from this website</h2>
    <p><a href="https://medium.freecodecamp.org/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492">Free Code Camp</a></p>
    
    {% endblock %}
  </body>
</html>